<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .text{
            width: 640px;
            margin: 0 auto;
        }
        .article-info{
            color:#999;
            font-size: 14px;
        }
        p{
            font-size: 16px;
            line-height: 30px;
        }

        .content img {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="text">
        <h1>{{data.title}}</h1>
        <div class="article-info"> {{data.from}} 时间：{{data.newTime}}</div>
        <p class="content">
            <img src="img/{{data.imgUrl}}" />
        </p>
    </div>
</body>
</html>